<template lang="html">
  <div class="dropdown-menu">
    <a :href="'/'+notification.data.follower.username"
      class="dropdown-item" v-for="notification in notifications">
      {{ notification.data.follower.username }} te ha seguido!
    </a>
  </div>
</template>

<script>
export default {
  props:['user'],
  data() {
    return {
      notifications: []
    }
  },
  mounted() {
    axios.get('/api/notifications')
    .then(responses => {
      this.notifications = responses.data
      Echo.private(`App.User.${this.user}`)
        .notification( notification => {
          this.notifications.unshit(notification)
        })
    })
  }
}
</script>

<style lang="css">
</style>
